*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.layout{
    min-height: 100vh;
    display: grid;
    grid-template-areas:
    "header header"
    "aside main"
    "footer footer" 
    ;
    grid-template-columns: 150px 1fr;
    grid-template-rows: auto 1fr auto;
    background-color: #fdf0f5;
}
.header{
    grid-area: header;
    background-color:#f19fb9;
    color: white;
    display: flex;
    padding: 24px 36px;
    justify-content: center

}
.sidebar{
    grid-area: aside;
    margin: 25px;
    
}
.category-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px;
}
.producto{
display: flex;
gap: 5px;
}

.cantidad-producto{
    color: gray;
}

.main{
    grid-area: main;
}
.lista-productos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    max-width: 100%;
    margin: 40px;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 14px;
    background-color: white;
    text-align: center;

}
.precio{
    color: gray;
}
.comprar{
    height: 100%;
    margin: 0;
    padding: 10px;
    background-color: #f19fb9;
}
.card-img{
height: 350px;
width: 100%;
object-fit: contain;
}
.footer{
grid-area: footer;
background-color: #f19fb9;
color: black;
text-align: center;
padding: 15px;
}